.catalog {
    width: 300px;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 10px;
}

.catalog h2 {
    margin-bottom: 15px;
}

.catalog-item {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-bottom: 12px;
    padding: 10px;

    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.catalog-item:hover {
    background-color: #2d2d2d;
}

.catalog-image {
    width: 60px;
    height: 60px;

    object-fit: cover;

    border-radius: 50%;
}